@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);
@import url(http://fonts.googleapis.com/css?family=Material+Icons);
@import "../material-design/material-design";

.md-light {
  @include material-design(
  $color_primary: #E0E0E0,
  $color_accent: #448AFF,
  $color_app: #FAFAFA,
  $color_components: #FFFFFF,
  $color_primary-text: rgba(0, 0, 0, .87),
  $color_icons: rgba(0, 0, 0, .54));
}
