@import "../layout/layout";
@import "../style/typography";

@mixin md-base-component($color_background, $color_font,
    $font-size: $md-font-size_body1) {

  %md-base-component {
    background: $color_background;
    color: $color_font;
    font-family: $md-font-family;
    font-size: $font-size;
    vertical-align: middle;
  }
}
