@import "../util/box-sizing";
@import "../util/defaults";
@import "base";

@mixin md-text-fields($color_hint-text) {

  .md-text-field,
  .v-textfield,
  input[type="text"] {
    @extend %md-base-component;
    font-size: $md-font-size_subhead;

    @include box-sizing(border-box);
    height: 6 * $md-size_component-grid;
    border: none;
    padding: (2 * $md-size_component-grid) 0;
  }

  .v-textfield-prompt {
    color: $color_hint-text;
  }
}
