$md-font-family: Roboto, sans-serif !default;

$md-font-size_body1: 14px !default;
$md-font-size_subhead: 16px !default;

$md-font-size_title: 20px !default;
$md-font-weight_title: bolder !default;

$md-font-size_button: 14px !default;
$md-font-weight_button: bolder !default;
$md-text-transform_button: uppercase !default;

$md-size_component-grid: 8px !default;
$md-size_icon-tile: 48px !default;

$md-border-radius: 2px !default;

$md-shadow_z1: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !default;
$md-shadow_z2: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3) !default;
