$md-font-family: Roboto, sans-serif !default;

$md-font-size_body1: 14px !default;
$md-font-size_subhead: 16px !default;

$md-font-size_title: 20px !default;
$md-font-weight_title: bolder !default;

$md-font-size_button: 14px !default;
$md-font-weight_button: bolder !default;
$md-text-transform_button: uppercase !default;

@mixin title {
  .md-title {
    font-size: $md-font-size_title;
    font-weight: $md-font-weight_title;
  }
}

@mixin subtitle {
  .md-subtitle {
    font-size: $md-font-size_subhead;
  }
}
