@import "dependencies/all-dependencies";
@import "style/typography/all-typography";
@import "layout/structure/all-structure";
@import "components/all-components";
@import "patterns/search";

@mixin material-design(
  $color_primary,
  $color_accent,
  $color_background,
  $color_components,
  $color_primary-text,
  $color_hint-text,
  $color_icons) {

  @include md-all-dependencies(
  $color_icons: $color_icons,
  $color_app-background: $color_background);

  @include md-all-typography();

  @include md-all-structure(
  $color_app-bar-background: $color_primary);

  @include md-all-components(
  $color_background: $color_components,
  $color_font: $color_primary-text,
  $color_accent: $color_accent,
  $color_hint-text: $color_hint-text);

  @include md-search();

  :focus {
    outline: none;
  }
}
