@import "components/base";
@import "components/buttons";
@import "components/cards";
@import "components/text-fields";
@import "components/toolbars";
@import "patterns/search";
@import "structure/app-bar";
@import "util/defaults";

@mixin material-design(
    $color_primary,
    $color_accent,
    $color_app,
    $color_components,
    $color_primary-text,
    $color_hint-text,
    $color_icons) {

  :focus {
    outline: none;
  }

  .material-icons {
    color: $color_icons;
    width: $md-size_icon-tile;
    height: $md-size_icon-tile;
    line-height: $md-size_icon-tile;
    text-align: center;
    vertical-align: middle;
  }

  &.v-app {
    height: 100%;

    background: $color_app;
  }

  &.v-overlay-container {
    position: absolute;
    top: 0;
  }

  .v-loading-indicator {
    height: $md-size_component-grid;
  }

  .v-horizontallayout > .v-slot {
    display: inline-block;
  }

  @include md-base-component(
  $color_background: $color_components,
  $color_font: $color_primary-text);

  @include md-buttons(
  $color_accent: $color_accent);

  @include md-cards();

  @include md-text-fields(
  $color_hint-text: $color_hint-text);

  @include md-toolbars();

  @include md-search();

  @include md-app-bar($color_primary);
}
