@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);

$md-color_primary: #E0E0E0 _!default;
$md-color_accent: #448AFF !default;
$md-color_component: white !default;
$md-color_background: #FAFAFA !default;

$md-size_component-grid: 8px !default;

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

.material-design {

  &.v-app {
    height: 100%;
    background: $md-color_background;
    font-family: Roboto, sans-serif;
    font-size: 13px;
  }

  &.v-overlay-container {
    position: absolute;
    top: 0;
  }

  .v-loading-indicator {
    height: $md-size_component-grid;
  }

  button {
    @include box-sizing(border-box);
    margin: 0 $md-size_component-grid;
    min-width: 8 * $md-size_component-grid;
    height: 4.5 * $md-size_component-grid;
    border: none;
    padding: 0 $md-size_component-grid;

    background: $md-color_component;
    font-size: 14px;
    text-transform: uppercase;
  }
}
