@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);

$md-color_primary: #E0E0E0 !default;
$md-color_accent: #448AFF !default;
$md-color_background: #FAFAFA !default;
$md-color_component: white !default;

$md-size_component-grid: 8px !default;

$md-shadow_z1: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !default;
$md-shadow_z2: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3); !default;

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

.material-design {

  &.v-app {
    height: 100%;

    background: $md-color_background;
    font-family: Roboto, sans-serif;
    font-size: 13px;
  }

  &.v-overlay-container {
    position: absolute;
    top: 0;
  }

  .v-loading-indicator {
    height: $md-size_component-grid;
  }

  .v-horizontallayout > .v-slot {
    display: inline-block;
  }

  .md-button,
  button {
    @include box-sizing(border-box);
    margin: 0 $md-size_component-grid;
    min-width: 8 * $md-size_component-grid;
    height: 4.5 * $md-size_component-grid;
    border: none;
    padding: 0 $md-size_component-grid;

    background: $md-color_component;
    font-size: 14px;
    text-transform: uppercase;
  }

  .md-flat-button {
    color: $md-color_accent;
  }

  .md-card {
    margin: $md-size_component-grid;

    background: $md-color_component;
    @include box-shadow($md-shadow_z1);
  }

  .md-toolbar {
    height: 7 * $md-size_component-grid;

    background: $md-color_primary;
    @include box-shadow($md-shadow_z2);
  }
}
