$md-font-family: Roboto, sans-serif !default;

$md-font-size_body1: 14px !default;
$md-font-size_subhead: 16px !default;

$md-font-size_title: 20px !default;
$md-font-weight_title: 500 !default;

$md-font-size_button: 14px !default;
$md-font-weight_button: 500 !default;
$md-text-transform_button: uppercase !default;
